// Placeholder to allow overriding predefined variables smoothly.


@charset "utf-8";

$dark-brand-color:           #999999 !default;
$dark-brand-color-light:     lighten($brand-color, 5%) !default;
$dark-brand-color-dark:      darken($brand-color, 35%) !default;

$dark-site-title-color:      $brand-color-light !default;

$dark-text-color:            #bbbbbb !default;
$dark-background-color:      #181818 !default;
$dark-code-background-color: #212121 !default;

$dark-link-base-color:       #79b8ff !default;
$dark-link-visited-color:    $link-base-color !default;
$dark-link-hover-color:      $text-color !default;

$dark-border-color-01:       $brand-color-dark !default;
$dark-border-color-02:       $brand-color-light !default;
$dark-border-color-03:       $brand-color !default;

$dark-table-text-color:      $text-color !default;
$dark-table-zebra-color:     lighten($background-color, 4%) !default;
$dark-table-header-bg-color: lighten($background-color, 10%) !default;
$dark-table-header-border:   lighten($background-color, 21%) !default;
$dark-table-border-color:    $border-color-01 !default;


// Syntax highlighting styles should be adjusted appropriately for every "skin"
// List of tokens: https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
// Some colors come from Material Theme Darker:
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/settings/specific/darker-hc.ts
// https://github.com/material-theme/vsc-material-theme/blob/master/scripts/generator/color-set.ts
// ----------------------------------------------------------------------------
