<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    {%- if page.layout == 'home' -%}
    <div class="page-shell">
      {{ content }}
      {%- include footer.html -%}
    </div>
    {%- else -%}
    <div class="inner-layout">
      {%- include mobile-nav.html -%}
      {%- include sidebar.html -%}
      <main class="inner-content">
        {{ content }}
        {%- include footer.html -%}
      </main>
    </div>
    {%- endif -%}

    <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    {%- if page.layout == 'home' -%}
    <script src="{{ '/assets/js/morph.js' | relative_url }}"></script>
    {%- endif -%}
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
